#main .navbar{
	border-radius: 0;
}


#main .nav a:hover{
	background-color: #080808;
}
#main .navbar-brand i {
	color: lightblue;
}
#main{
	background-image: url("../img/header_bg.jpg");
	background-size: cover;
}

.mainTextColor{
	color: white;
}

#main .row .fa-5x{
	font-size: 100px;
}

#main .row:first-child{
	padding-top: 70px;
}


#main .row:last-child{
	padding-bottom: 200px;
}
#themePreview .thumbnail{
	border:none;
	box-shadow: none;

}

#themePreview .col-md-4{
	padding: 30px 10px;
}
#themePreview .mainColor, #themePreview{
	background-color: #F5F5F5;
	color: #555;
}
#about .page-header {
	display: inline-block;
}

#about .row:last-child{
	padding: 10px 70px 50px 70px;
}


#about h1{
	font-weight: 100px;
}
#expand h1{
	display: inline-block;
}
#expand {
	background-image: url(../img/bg/divider1.jpg);
	background-size: cover;
	color: white;
}


#expand p {
	font-size: 1.5em;
}

#expand .row{
	padding: 100px 50px 50px 50px;
}

#brandInfo .row p{
	line-height: 1.7em;
	font-size: 1.5em;
}

#brandInfo .row{
	padding: 20px 50px 0px 50px;
}


#interactions h1{
	display: inline-block;
}
#interactions {
	background-image: url(../img/bg/divider2.jpg);
	background-size: cover;
	color: white;
}


#interactions p {
	font-size: 1.5em;
}

#interactions .row{
	padding: 100px 50px 50px 50px;
}

#coolStuff .thumbnail{
	padding: 0px;

}
#coolStuff{
	padding: 30px 10px;
}
#emotional h1{
	display: inline-block;
}
#emotional {
	background-image: url(../img/bg/divider4.jpg);
	background-size: cover;
	color: white;
}


#emotional p {
	font-size: 1.5em;
}

#emotional .row{
	padding: 100px 50px 50px 50px;
}
#problems h1{
	display: inline-block;
}
#problems {
	background-image: url(../img/bg/divider3.jpg);
	background-size: cover;
	color: white;
}


#problems p {
	font-size: 1.5em;
}

#problems .row{
	padding: 100px 50px 50px 50px;
}
#hiring{
	background: #F5F5F5;
	padding: 20px 20px 40px 20px;
}

#storrytellers h1 {
	display: inline-block;
	color: #333333;
}

#storrytellers .col-md-2{
	background:#2b2b2b;
	padding-top: 30px;
	height: 400px;
	color: white;
	font-size: 2em;
}
#storrytellers .col-md-4{
	background: #f2f2f2;
	color: #555555;
	font-size: 1.5em;
	height: 400px;

}

#storrytellers p:last-child {
	color: #3498db;
}

#storrytellers{
	padding: 30px 10px;
}

#crafted h1{
	display: inline-block;
}
#crafted {
	background-image: url(../img/bg/divider6.jpg);
	background-size: cover;
	color: white;
}


#crafted p {
	font-size: 1.5em;
}

#crafted .row{
	padding: 100px 50px 50px 50px;
}
#crafted i {
	color: #3498db;
}

#end .page-header{
	display: inline-block;
}

#end{
	padding:40px 0px;
}

#footer{
	background: #2b2b2b;
	color: white;
	padding: 20px 0px;
}